{#
/**
 * @file
 * Default template for photowall.
 */
#}

<div class="photowall photowall-{{ entity_type }}-{{ entity_id }}-{{ target_id }}" data-photowall-settings="{{ photowall_settings }}" data-photowall-options="{{ photowall_options }}">
  <div class="body"></div>
</div>
